$darkColor: #000;
$lightColor: #fff;
$searchIconColor: #6b6b6b;
$searchIconColorFocus: #3390ec;
$searchIconColorActive: #8774e1;
$inputSearchBgLight: #f4f4f5;
$inputSearchBgDark: #2c2c2c;
$inputSearchBoxShadow: 0 0 0 2px;
$dialogFromYouBg: #766ac8;
$dialogFromYouBgLight: #eeffde;
$dialogToYouBgDark: #444444;

.light {
  background-color: $lightColor;
  color: $darkColor;

  &.dialogContainer {
    background-color: rgba($lightColor, 0.288);
  }

  &.dialogFromYou {
    background-color: $dialogFromYouBgLight;
    color: $darkColor;
  }

  &.dialogToYou {
    background-color: $lightColor;
    color: $darkColor;
  }
}

.dark {
  background-color: #212121;
  color: #fff;
}

.textDark {
  color: #fff;
}

.textLight {
  color: $darkColor;
}

.searchIcon {
  color: #6b6b6b;
}

.searchInput:focus-within .searchIconLight {
  color: #3390ec;
}

.searchInput:focus-within .searchIconDark {
  color: #8774e1;
}

.searchIconDark:active {
  color: #8774e1;
}

.input-searchDark {
  background: #2c2c2c;
  color: white;
}

.input-searchDark:focus-within {
  box-shadow: 0 0 0 2px #8774e1;
}

.input-searchLight {
  background: #f4f4f5;
  color: $darkColor;
}

.input-searchLight:focus-within {
  box-shadow: 0 0 0 2px #3390ec;
}

.input-searchLight:focus {
  background: white;
}

.main-container {
  background-size: 510px auto;
  background-repeat: repeat;
  background-position: top right;
  background-image: url("../public/img/chat-bg-pattern-dark.png"),
    linear-gradient(rgba(37, 133, 39, 0.255), rgba(255, 0, 0, 0.119));
}

// .main-containerLight {
//   background-image: linear-gradient(
//     rgba(0, 146, 2, 0.178),
//     rgba(255, 0, 0, 0.242)
//   );
// }

.main-containerDark {
  background-color: rgb(0, 0, 0);
}

/* Сообщение пользователю */

.dialogFromYou {
  display: inline-flex;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 6px;
  padding-left: 20px;
  margin-right: 10px;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  z-index: 10;
  color: white;
  justify-content: end;
  max-width: 50%;
  position: relative;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.dialogToYou {
  display: inline-flex;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 6px;
  padding-left: 20px;
  margin-left: 10px;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0.5rem;
  z-index: 10;
  color: white;
  max-width: 50%;
  position: relative;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.darkDialogFromYou {
  background-color: #766ac8;
}

.lightMarkFromYou {
  border-bottom-color: #eeffde;
}

.darkMarkFromYou {
  border-bottom-color: #766ac8;
}

.darkDialogToYou {
  background-color: #444444;
}

.lightDialogToYou {
  background-color: #fff;
  color: $darkColor;
}

.lightMarkToYou {
  border-bottom-color: #ffffff;
}

.darkMarkToYou {
  border-bottom-color: #444444;
}

// Окно меню

.windowMenuMarkLight {
  background-color: white;
}

.windowMenuMarkDark {
  background-color: red;
}

.dialog-messages {
  scrollbar-width: none; /* Для Firefox */
}

.dialog-messages::-webkit-scrollbar {
  display: none; /* Для Chrome, Safari и Opera */
}

/*Убрать полосу прокрутки у элемента*/
.element::-webkit-scrollbar {
  width: 0;
}

/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
  width: 0;
}

.custom-scrollbarDark::-webkit-scrollbar-track {
  background-color: none; /* Тёмный цвет фона полосы прокрутки */
}

.custom-scrollbarDark::-webkit-scrollbar-thumb {
  background-color: #323232; /* Тёмный цвет самой полосы прокрутки */
}

.custom-scrollbarDark::-webkit-scrollbar {
  width: 6px; /* Ширина полосы прокрутки */
}

.custom-scrollbarLight::-webkit-scrollbar-track {
  background-color: none; /* Тёмный цвет фона полосы прокрутки */
}

.custom-scrollbarLight::-webkit-scrollbar-thumb {
  background-color: #cdcdcd; /* Тёмный цвет самой полосы прокрутки */
}

.custom-scrollbarLight::-webkit-scrollbar {
  width: 6px; /* Ширина полосы прокрутки */
}

// Регистрация

.register-background {
  background-image: url("../public/img/chat-bg-pattern-dark.png");
}
